{% extends 'base/base.html' %}



{% block 'body' %}

<div class="d-flex h-100 text-center text-white index">
    
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column main-content">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Coastal Travel & Cruises</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Home</a>
                    <a class="nav-link" href="{% url 'tours' %}">Tours</a>
                    <a class="nav-link" href="">Destinations</a>
                    <a class="nav-link" href="{% url 'reservation' %}">How to Order</a>
                    <a class="nav-link" href="">Contact Us</a>
                </nav>
            </div>
        </header>

    <div class="container">
        <h2>Reservation Successful</h2>
        <p>Thank you for your reservation! We will contact you soon.</p>
    </div>

    <footer class="mt-auto text-white-50">
        <p>Copyright © {% now 'Y' %} <a href="{% url 'main' %}" class="text-white">Coastal Travel & Cruises</a> by <a href="https://sites.google.com/view/dr-nikolaos-antonakakis/"
                class="text-white">Nikolaos Antonakakis</a></p>
    </footer>
</div>
</div>




{% endblock %}
{% block 'footer' %}

{% endblock  %}